{% load static %}
<html>
<head>

    <meta charset="utf-8">

    <title>
WallApi Docs</title>

    <link rel="shortcut icon" href="favicon.ico">


      <link rel="stylesheet" href="//cloud.typography.com/711858/764882/css/fonts.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

 
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static 'min.css' %}">


     
 </head>


  <body id="api-reference" class=" api-ref">


    <div id="react-root-sidebar">
<div id="sidebar" class="MobileSidebar">
<div class="MobileNav">
<label class="MobileNav-label" for="MobileNav-select">
Documentation<div class="SVGInline SVGInline--cleaned SVG Icon Icon--chevronDown Chevron Chevron-down SVG--color SVG--color--gray200 Box-root Flex-flex">
<svg class="SVGInline-svg SVGInline--cleaned-svg SVG-svg Icon-svg Icon--chevronDown-svg Chevron-svg Chevron-down-svg SVG--color-svg SVG--color--gray200-svg" style="width: 12px;height: 12px;" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
<path d="M13.591 5.293a1 1 0 0 1 1.416 1.416l-6.3 6.3a1 1 0 0 1-1.414 0l-6.3-6.3A1 1 0 0 1 2.41 5.293L8 10.884z" fill-rule="evenodd">
</path>
</svg>
</div>
</label>
<select id="MobileNav-select" class="MobileNav-select">
<optgroup label="Topics">
<option value="intro">
Documentation</option>
</select>
</div>
</div>
</div>



    <div id="react-root-content">
<div id="content" tabindex="0">
<section class="method first-of-group" id="intro">
<span style="font-size: 0px;">
</span>
<div class="MethodArea-divider">
</div>
<div class="method-area method-area-expanded">
<div class="method-copy">
<div class="method-copy-padding">
<div class="MethodCopyTitle">
<h1 class="MethodCopyTitle-anchor">
API Reference</h1>
</div>
<p class="IntroSection-firstPara">
The WallAPI is organized around Ghosts. Our API has blah blah Features. And Request returns <a href="http://www.json.org/" target="_blank" rel="noopener noreferrer">
JSON-encoded</a>
 responses, and uses standard HTTP response codes </p>
<p>
You can use the WallAPI in Free Mode,  Api don't have authentication. And you can send unlimited requests until server stop working. </p>
<p>
In WallAPI you don't need to Sign-up and Sign-in and We provide unknown functionality that we also don't know, Blek Mejik</p>
</div>
</div>
<div class="method-example">
<span style="font-size: 0px;">
</span>
<div class="method-example-part">
<div class="method-example-request">
<div class="method-example-request-topbar">
<div class="method-example-request-title IntroSection-topbar-title">
Base URL</div>
</div>
<pre class="IntroSection-pre">
<code>https://wallpi.herokuapp.com</code></pre>
</div>
</div>
</div>
</div>
</section>
<section class="method first-of-group" id="authentication">
<span style="font-size: 0px;">
</span>
<div class="MethodArea-divider">
</div>
<div class="method-area method-area-expanded">
<div class="method-copy">
<div class="method-copy-padding">
<div class="MethodCopyTitle">
<h1 class="MethodCopyTitle-anchor">
How to use</h1>
</div>
<p>
Send Request And Get wallpaper links. Idk what i write here. <br>
  Arguments need to pass is search query <br>
  #Change &lt;query&gt;  to your search query <br>
 <a href="#">
  https://wallpi.herokuapp.com/api?search=&lt;query&gt; </a>
    <br>
  <h3>
    For Example</h3>
    I want to search Saitama so i will send http request to https://wallpi.heroku.com/api?search=Saitama </p>
</div>
</div>
<div class="method-example">
<span style="font-size: 0px;">
</span>
<div class="method-example-part">
<div class="method-example-request include-prompt">
<div class="method-example-request-topbar">
<div class="method-example-request-title">
Request</div>
<div class="LangSwitcher">
<div class="Pressable Pressable--focus Pressable--layer Pressable--layer--elevated Pressable--radius Pressable--radius--all Pressable--size Pressable--size--medium Pressable--width Pressable--width--auto Select bs-SelectLegacy Box-root Flex-inlineFlex">
<div class="Pressable-part Pressable-background Box-root Box-background--white">
</div>
<div class="Pressable-part Pressable-keylines">
<div class="Pressable-part Pressable-baseKeyline">
</div>
</div>
<div class="Pressable-part Pressable-shadows">
<div class="Pressable-part Pressable-focusShadow">
</div>
<div class="Pressable-part Pressable-hoverShadow">
</div>
<div class="Pressable-part Pressable-elevatedShadow">
</div>
<div class="Pressable-part Pressable-baseShadow">
</div>
</div>
<div class="Pressable-children">
<div class="SVGInline SVGInline--cleaned SVG Select-arrows Box-root Flex-flex">
<svg class="SVGInline-svg SVGInline--cleaned-svg SVG-svg Select-arrows-svg" style="width: 12px;height: 12px;" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
<path d="M11.591 9.992a1 1 0 1 1 1.416 1.415l-4.3 4.3a1 1 0 0 1-1.414 0l-4.3-4.3A1 1 0 0 1 4.41 9.992L8 13.583zm0-3.984L8 2.417 4.409 6.008a1 1 0 1 1-1.416-1.415l4.3-4.3a1 1 0 0 1 1.414 0l4.3 4.3a1 1 0 1 1-1.416 1.415z" fill-rule="evenodd">
</path>
</svg>
</div>
</div>
</div>
</div>
<div class="MethodExampleTopbarButton">
<div class="MethodExampleTopbarButton-spacer">
</div>
<div class="Box-root Flex-flex">
<div class="Box-root Flex-flex">
</div>
</div>
</div>
</div>
<div class="method-example-request-body">
<div class="CodeBlock" style="min-height: 36px;">
<div class="CodeBlock-scroll">
<div class="CodeBlock-lines">
<div>
</div>
<div>
</div>
</div>
<pre class="CodeBlock-pre  language-python">
<code class="  language-python"><span class="token keyword">&nbsp;&nbsp;&lt;query&gt; | Search Query</span> <span class="token string">
Send Http request to <br>
&nbsp;&nbsp;wallpi.herokuapp.com/wall/search/?q=&lt;query&gt;<br>
  #Example <br>
  https://wallpi.herokuapp.com/wall/search/?q=Luffy</span></code></pre>
</div>
</div>
</div>
</div>
<div class="method-example-request include-prompt">
<div class="method-example-request-topbar">
<div class="method-example-request-title">
Response</div>
<div class="LangSwitcher">
<div class="Pressable Pressable--focus Pressable--layer Pressable--layer--elevated Pressable--radius Pressable--radius--all Pressable--size Pressable--size--medium Pressable--width Pressable--width--auto Select bs-SelectLegacy Box-root Flex-inlineFlex">
<div class="Pressable-part Pressable-background Box-root Box-background--white">
</div>
<div class="Pressable-part Pressable-keylines">
<div class="Pressable-part Pressable-baseKeyline">
</div>
</div>
<div class="Pressable-part Pressable-shadows">
<div class="Pressable-part Pressable-focusShadow">
</div>
<div class="Pressable-part Pressable-hoverShadow">
</div>
<div class="Pressable-part Pressable-elevatedShadow">
</div>
<div class="Pressable-part Pressable-baseShadow">
</div>
</div>
<div class="Pressable-children">
<div class="SVGInline SVGInline--cleaned SVG Select-arrows Box-root Flex-flex">
<svg class="SVGInline-svg SVGInline--cleaned-svg SVG-svg Select-arrows-svg" style="width: 12px;height: 12px;" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
<path d="M11.591 9.992a1 1 0 1 1 1.416 1.415l-4.3 4.3a1 1 0 0 1-1.414 0l-4.3-4.3A1 1 0 0 1 4.41 9.992L8 13.583zm0-3.984L8 2.417 4.409 6.008a1 1 0 1 1-1.416-1.415l4.3-4.3a1 1 0 0 1 1.414 0l4.3 4.3a1 1 0 1 1-1.416 1.415z" fill-rule="evenodd">
</path>
</svg>
</div>
</div>
</div>
</div>
<div class="MethodExampleTopbarButton">
<div class="MethodExampleTopbarButton-spacer">
</div>
<div class="Box-root Flex-flex">
<div class="Box-root Flex-flex">
</div>
</div>
</div>
</div>
<div class="method-example-request-body">
<div class="CodeBlock" style="min-height: 90px; max-height: calc(80vh - 304px);">
<div class="CodeBlock-scroll">
<div class="CodeBlock-lines">
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
</div>
<pre class="CodeBlock-pre  language-python"><code class="  language-python"><span class="token punctuation">
Response Should be like</span>
{
    "search":"Luffy",
    "Links":[
        {
            "Link":"https://images8.alphacoders.com/105/1059111.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images8.alphacoders.com/106/1068343.jpg",
            "title":"Anime One Piece Monkey D. Luffy Straw Hat"
        },
        {
            "Link":"https://images3.alphacoders.com/107/1070556.jpg",
            "title":"Anime One Piece Eustass Kid Monkey D. Luffy Trafalgar Law"
        },
        {
            "Link":"https://images7.alphacoders.com/108/1082126.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images2.alphacoders.com/946/946370.png",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images4.alphacoders.com/948/948380.png",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images8.alphacoders.com/953/953391.png",
            "title":"Anime One Piece Kaido Kanjuro Kin'emon Monkey D. Luffy Jinbe Nico Robin"
        },
        {
            "Link":"https://images.alphacoders.com/960/960187.png",
            "title":"Anime One Piece Monkey D. Luffy Kaido"
        },
        {
            "Link":"https://images4.alphacoders.com/963/963243.png",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images2.alphacoders.com/963/963535.png",
            "title":"Anime One Piece Monkey D. Luffy Haki"
        },
        {
            "Link":"https://images7.alphacoders.com/963/963536.png",
            "title":"Anime One Piece Monkey D. Luffy Kaido"
        },
        {
            "Link":"https://images.alphacoders.com/963/963739.png",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images3.alphacoders.com/965/965796.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images4.alphacoders.com/966/966631.jpg",
            "title":"Anime One Piece Eustass Kid Monkey D. Luffy"
        },
        {
            "Link":"https://images7.alphacoders.com/966/966756.png",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images7.alphacoders.com/969/969981.jpg",
            "title":"Anime One Piece Kin'emon Monkey D. Luffy Roronoa Zoro Sanji Franky"
        },
        {
            "Link":"https://images5.alphacoders.com/992/992408.jpg",
            "title":"Anime One Piece Monkey D. Luffy Portgas D. Ace"
        },
        {
            "Link":"https://images2.alphacoders.com/993/993217.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images.alphacoders.com/996/996033.jpg",
            "title":"Anime One Piece Monkey D. Luffy Sanji Tony Tony Chopper Nami Roronoa Zoro Nico Robin Usopp"
        },
        {
            "Link":"https://images8.alphacoders.com/997/997738.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images5.alphacoders.com/999/999310.jpg",
            "title":"Anime One Piece Monkey D. Luffy Hyogoro"
        },
        {
            "Link":"https://images.alphacoders.com/999/999620.jpg",
            "title":"Anime One Piece Monkey D. Luffy Eustass Kid"
        },
        {
            "Link":"https://images5.alphacoders.com/100/1001188.jpg",
            "title":"Anime One Piece Rayleigh Silvers Monkey D. Luffy"
        },
        {
            "Link":"https://images7.alphacoders.com/100/1001431.jpg",
            "title":"Anime One Piece Monkey D. Luffy Queen the Plague"
        },
        {
            "Link":"https://images2.alphacoders.com/102/1022831.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        },
        {
            "Link":"https://images2.alphacoders.com/102/1027604.jpg",
            "title":"Anime One Piece Kiku Monkey D. Luffy Kawamatsu"
        },
        {
            "Link":"https://images6.alphacoders.com/102/1027605.jpg",
            "title":"Anime One Piece Monkey D. Luffy Charlotte Linlin Hyogoro"
        },
        {
            "Link":"https://images.alphacoders.com/102/1027610.jpg",
            "title":"Anime One Piece Kiku Hyogoro Kawamatsu Monkey D. Luffy Raizo"
        },
        {
            "Link":"https://images7.alphacoders.com/102/1027612.jpg",
            "title":"Anime One Piece Raizo Hyogoro Kiku Monkey D. Luffy Kawamatsu"
        },
        {
            "Link":"https://images.alphacoders.com/102/1028022.jpg",
            "title":"Anime One Piece Monkey D. Luffy"
        }
    ]
}<span class="token operator"></span>

 <span class="token comment">
# Pero Reponse</span></code>
</pre>
</div>
</div>
</div>
</div>
<div class="method-example-response">
<div class="method-example-response-topbar">
<div class="method-example-response-title">
If Api not working</div>
</div>
<p>
1. Created by Noob like me.<br>
2. it's common because of above reason.<br>
3. Maybe Heroku App is Just take nap and you trying to awake it.
</a>
</p>
</div>
</div>
</div>
</div>
</section>
<section class="method first-of-group" id="connected_accounts">
<span style="font-size: 0px;">
</span>
<div class="MethodArea-divider">
</div>
<div class="method-area method-area-expanded">
<div class="method-copy">
<div class="method-copy-padding">
<div class="MethodCopyTitle">
<h1 class="MethodCopyTitle-anchor">
About Me</h1>
</div>
<p>
Fan of <a href="https://telegram.dog/PhycoNinja13b">
 PhycoNinja </a>
 <h3>
 About Him </h3 >

Pro of Disguise And No one Can Defeat him in Proness. Phyco sir is Legend  </p>
</div>
</div>
<div class="method-example">
<span style="font-size: 0px;">
</span>
<div class="method-example-part">
<div class="method-example-request include-prompt">
<div class="method-example-request-topbar">
<div class="method-example-request-title">
Pro User</div>
<div class="LangSwitcher">
<div class="Pressable Pressable--focus Pressable--layer Pressable--layer--elevated Pressable--radius Pressable--radius--all Pressable--size Pressable--size--medium Pressable--width Pressable--width--auto Select bs-SelectLegacy Box-root Flex-inlineFlex">
<div class="Pressable-part Pressable-background Box-root Box-background--white">
</div>
<div class="Pressable-part Pressable-keylines">
<div class="Pressable-part Pressable-baseKeyline">
</div>
</div>
<div class="Pressable-part Pressable-shadows">
<div class="Pressable-part Pressable-focusShadow">
</div>
<div class="Pressable-part Pressable-hoverShadow">
</div>
<div class="Pressable-part Pressable-elevatedShadow">
</div>
<div class="Pressable-part Pressable-baseShadow">
</div>
</div>
<div class="Pressable-children">
<div class="SVGInline SVGInline--cleaned SVG Select-arrows Box-root Flex-flex">
<svg class="SVGInline-svg SVGInline--cleaned-svg SVG-svg Select-arrows-svg" style="width: 12px;height: 12px;" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
<path d="M11.591 9.992a1 1 0 1 1 1.416 1.415l-4.3 4.3a1 1 0 0 1-1.414 0l-4.3-4.3A1 1 0 0 1 4.41 9.992L8 13.583zm0-3.984L8 2.417 4.409 6.008a1 1 0 1 1-1.416-1.415l4.3-4.3a1 1 0 0 1 1.414 0l4.3 4.3a1 1 0 1 1-1.416 1.415z" fill-rule="evenodd">
</path>
</svg>
</div>
</div>
</div>
</div>
<div class="MethodExampleTopbarButton">
<div class="MethodExampleTopbarButton-spacer">
</div>
<div class="Box-root Flex-flex">
<div class="Box-root Flex-flex">
</div>
</div>
</div>
</div>
<div class="method-example-request-body">
<div class="CodeBlock" style="min-height: 90px; max-height: calc(80vh - 186px);">
<div class="CodeBlock-scroll">
<div class="CodeBlock-lines">
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
</div>
<pre class="CodeBlock-pre  language-python">
<code class="  language-python">
<span class="token keyword">
PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>

PhycoNinja Is Pro<br>
</span>
<span class="token operator">
</span>
<span class="token punctuation">
</span>
<span class="token punctuation">
</span>
<span class="token punctuation">
</span>

  <span class="token string">
</span>
<span class="token punctuation">
</span>

<span class="token operator">
</span>
<span class="token string">
</span>

<span class="token punctuation">
</span>

<span class="token punctuation">
</span>
<span class="token punctuation">
</span>
<span class="token punctuation">
</span>
 <span class="token comment">
# Pero Ujer @PhycoNinja13b</span>
</code>
</pre>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="method first-of-group" id="errors">
<span style="font-size: 0px;">
</span>
</div>
</a>
</div>
</div>
</div>
</div>
</div>



  



  
</body>
</html>
